<%= render "shared/header" %>

<div class="show-main">
  <div class="show-game">
    <div class="show-title">
      <div class="title">
        <%= @item.title %>
      </div>
      <% if user_signed_in? %>
        <% if current_user.already_liked?(@item) %>
          <%= link_to(item_like_path(@item), method: :delete ,class: 'good-btn') do %>
            <span class='show-good'></span>
            <%= image_tag ('hand_good.png') , size: '100x70' ,class: "good-icon" %>
          <% end %>
        <% else %>
          <%= link_to(item_likes_path(@item, @like), method: :post ,class: 'good-btn') do %>
            <span class='show-good'></span>
            <%= image_tag ('hand_good.png') , size: '100x70' ,class: "good-icon" %>
          <% end %>
        <% end %>
      <% end %>
      <div class="good-count">
        <span class='show-star'><%= @item.likes.count %></span>
        <%= image_tag ('star_orange.png') , size: '100x70' ,class: "star-icon" %>
      </div>
    </div>
    <div class="show-total">
      <div class="synopsis">
        ゲーム内容
      </div>
      <div class="video">
        映像
      </div>
    </div>
    <div class="synopsis-text">
      <%= @item.text %>
    </div>
    <div class="ratings">
      <div class="rating">
        評価
      </div>
    </div>
    <div class="main-synopsis">
      <% @item.ratings.each do |rating| %>
        <div class="synopsis-evaluation">
          <%= rating.evaluation %>
        </div>
      <% end %>
    </div>
    <div class="footer-main">
      <% if user_signed_in? %>
      <%= form_with model: @rating, url: item_ratings_path(@item.id), method: :post, local: true do |f| %>
        <div class="footer-form">
          <%= f.text_area :evaluation, class:"form-title", placeholder:"追加したい評価を入力してください" %>
          <input class="form-submit" type="submit" value="送信">
        </div>
      <% end %>
      <% else %>
      <% end %>
    </div>
  </div>
</div>