<%= render "shared/header" %>

<div class="show-main">
  <div class="show-game">
    <div class="show-title">
      <div class="title">
        <%= @item.title %>
      </div>
      <% if user_signed_in? %>
        <% if current_user.already_liked?(@item) %>
          <%= link_to(item_like_path(@item), method: :delete ,class: 'good-btn') do %>
            <span class='show-good'></span>
            <%= image_tag ('hand_good.png') , size: '100x70' ,class: "good-icon" %>
          <% end %>
        <% else %>
          <%= link_to(item_likes_path(@item, @like), method: :post ,class: 'good-btn') do %>
            <span class='show-good'></span>
            <%= image_tag ('hand_good2.png') , size: '100x70' ,class: "good-icon" %>
          <% end %>
        <% end %>
      <% end %>
      <div class="good-count">
        <span class='show-star'><%= @item.likes.count %></span>
        <%= image_tag ('star_orange.png') , size: '100x70' ,class: "star-icon" %>
      </div>
    </div>
    <div class="show-total">
      <div class="synopsis">
        ゲーム内容
      </div>
      <div class="video">
        映像
      </div>
    </div>
    <div class="synopsis-text">
      <%= @item.text %>
    </div>
    <div class="ratings">
      <div class="rating">
        評価一覧
      </div>
      <div>
        <% if user_signed_in? %>
          <%= link_to new_item_rating_path(@item), class: 'rating-btn' do %>
            <span class='rating-post-text'>(評価投稿ページ)</span>
          <% end %>
        <% else %>
        <% end %>
      </div>
    </div>
    <div class="main-synopsis">
      <% @item.ratings.each do |rating| %>
        <div class="synopsis-evaluation">
          <%= rating.evaluation %>
          <div>
            <% if rating.rate == 1 %>
              <%= image_tag ('star1.png') , size: '20x70' ,class: "rating-star-icon" %>
            <% elsif rating.rate == 2 %>
              <%= image_tag ('star2.png') , size: '20x70' ,class: "rating-star-icon" %>
            <% elsif rating.rate == 3 %>
              <%= image_tag ('star3.png') , size: '20x70' ,class: "rating-star-icon" %>
            <% elsif rating.rate == 4 %>
              <%= image_tag ('star4.png') , size: '20x70' ,class: "rating-star-icon" %>
            <% elsif rating.rate == 5 %>
              <%= image_tag ('star5.png') , size: '20x70' ,class: "rating-star-icon" %>
            <% else %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>